/* @import 'tailwindcss'; */

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    z-index: -1;
}

.im-dialog {
    z-index: 2000;
    border-radius: 10px;
}

.im-close-button {
    margin: 15px;
}

.im-close-button svg path {
    stroke: rgb(114, 114, 114);
    transition: 0.3s;
}

.im-close-button:hover.im-close-button svg path {
    stroke: rgb(56, 56, 56);
}

.im-modal-container {
    scrollbar-width: none !important;
}

.im-modal-positioner {
    padding: 9px;
}

.im-modal-content {
    min-height: 70vh !important;
    border-radius: 10px;
}
